* {
  transition: all 0.4s ease-in-out;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.a {
  color: #9999ff !important;
}
.a:hover {
  color: #7171e4 !important;
  transform: scale(1.1, 1.1);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.logout {
  padding: 0;
  margin: 0;
  outline: none;
  background: transparent;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  font-size: 20px;
  font-style: italic;
}
.logout:hover {
  transform: scale(1.1, 1.1);
}
/* Sweet Alert */
.swal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.swal-modal {
  background-color: #333333;
}
.swal-text {
  color: #eeeeee;
}
/* Sweet Alert */

/* Navbar */
.h3 {
  color: #eeeeee;
  cursor: pointer;
}
.h3:hover {
  transform: scale(1.1, 1.1);
  color: #f7f2f2;
}
.menu a {
  color: #eeeeee !important;
  text-decoration: none;
  font-size: 20px;
  font-style: italic;
}
.menu a:hover {
  transform: scale(1.1, 1.1);
  color: #f7f2f2 !important;
}

.menu_mob {
  position: relative;
}

.menu_mob .toggler {
  /* padding: 5px; */
  background: transparent;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 5px;
  border: none;
  outline: none;
}

.menu_mob .toggler .line {
  width: 100%;
  height: 5px;
  background-color: #eeeeee;
  border-radius: 10px;
}
.menu_mob .toggler .line:nth-child(2) {
  width: 80%;
}
.menu_mob .toggler .line:last-child {
  width: 60%;
}
.menu_mob .navList {
  position: fixed;
  top: 0%;
  right: -100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  width: 0%;
  height: 100%;
  background-color: rgba(33, 37, 41, 1);
  z-index: 111111;
  padding-top: 2rem;
  border-top: 1px solid rgb(191, 185, 185);
  padding-left: 2rem;
}
.show.navList {
  right: 0;
  width: 100%;
}
.menu_mob .navList .navItem {
  padding-bottom: 5px;
}
.menu_mob .navList .navItem:hover {
  border-bottom: 2px solid white;
}
.menu_mob .navList .navItem:hover a {
  transform: scale(1.2, 1.2);
  color: #f7f2f2 !important;
}
.menu_mob .navList .navItem a {
  text-decoration: none;
  color: #eeeeee !important;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}
.closeButton {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  border: none;
  outline: 0;
  background-color: transparent;
  z-index: 1;
}
.closeButton::hover {
  opacity: 1;
}
.closeButton:before,
.closeButton:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #f7f2f2;
  top: 0;
}
.closeButton:before:hover,
.closeButton:after:hover {
  opacity: 1;
}
.closeButton:before {
  transform: rotate(45deg);
}
.closeButton:after {
  transform: rotate(-45deg);
}
/* Menu */

/* Navbar */

/* MODAL  */
.modal {
  border: none !important;
  background: none !important;
}
.modal-content {
  border: none !important;
  background: none !important;
  overflow: hidden;
}
/* MODAL  */

/* Custom Table  */
.description {
  color: #eee;
  text-decoration: none;
  font-size: 20px;
}
.description:hover {
  color: #fff;
  text-decoration: underline;
}

/* Accordion */
.custom-accordion-title {
  background-color: transparent;
  width: 100%;
  border: 0;
  cursor: pointer;
  outline: 0;
  color: #fff;
}
.custom-accordion-item {
  padding: 10px;
  border-radius: 5px;
  background-color: #2c2c45;
}
.custom-accordion-item h4 {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
}
.custom-accordion-content {
  opacity: 0;
  max-height: 0;
  display: none;
  transition: all 0.3s ease-in-out;
}
.custom-accordion-content p {
  font-size: 18px;
}
.show {
  opacity: 1;
  max-height: fit-content;
  display: block;
}
.line {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.line::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}
.show.line::before {
  height: 2px;
  opacity: 1;
}
/* Accordion */
